MONGODB_URI="mongodb+srv://tanvishdesai05_db_user:BTNXssugoqwSYL7y@cluster0.y7nk3pc.mongodb.net/?appName=Cluster0"
JWT_SECRET=any-long-random-string-you-want
PORT=4000
FRONTEND_URL=http://localhost:3000


